@import "~bootstrap/scss/bootstrap";

body {
    background-color: honeydew;
}

.LT_index_h1 {
    text-align: center;
    color: #222222;
    font-family: Bitter;
}

.navbar-nav li {
    font-family: "Josefin Sans";

}

.navbar-nav li:hover {
    text-decoration: underline;

}
